<div class="card text-center">
  <div class="card-header">
    <%= post.title %>
    <p class="card-text"><small class="text-muted">Comments: <%= post.comments_counter %></small></p>
    <p class="card-text"><small class="text-muted">Likes: <%= post.likes_counter %></small></p>
  </div>
  <div class="card-body">
    <%= link_to user_post_path(post.author, post) do %>
      <h5 class="card-text"><%= post.title %></h5>
      <p><%= post.text %></p>
    <% end %>
    <%= link_to "See Post", user_post_path(post.author, post), class: "btn btn-primary" %>
  </div>
</div>