<%= render partial: "shared/user/user_header", locals: { user: @user } %>
<%= render partial: "shared/user/user_bio", locals: { user: @user } %>

<h2><%= @user.name%>'s Most Recent Posts </h2>

<% @recent_posts.order(comments_counter: :DESC).each do |post| %>
  <%= render partial: "shared/post/post_card", locals: { post: post } %>
<% end %>

<%= link_to "See all posts" , user_posts_path(@user), class: "btn btn-primary" if @user.posts_counter> 0 %>


